<style>
    .btn-primary {
        text-decoration: none;
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }
    .action{
        margin-top: 10px;
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 5px;
        align-items: center;
    }
</style>

<p style="color: green"><%= notice %></p>

<%= render @train %>

<div class="action">
  <% if current_user.is_admin == true%>
    <%= link_to 'Edit', edit_train_path(@train), class: "btn-primary"%>
    <%= link_to "Delete", train_path(@train), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } , class: "btn-primary" %>
  <% end %>
  <%= link_to "Back to trains", trains_path , class: "btn-primary" %>
</div>
